 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="main.css">
    <title>EventForm</title>
</head>
<header style=" color: black">
    <h1>Jesper og Roberts OogieBoogie Service</h1>
    <img src="d47f0c81-c6ca-4e2b-ab7d-24fb7567c119.jpg"/>
</header>
<body>
<form action="https://localhost:8080/submit">
    <p><h4>Event Place:</h4></p>
    <input type="radio" id="fastalavn" name="fasterlavn" value="Fasterlavn">
    <label for="fastalavn">Fasterlavn</label>
    <input type="radio" id="halloween" name="halloween" value="halloween">
    <label for="halloween">Halloween</label>
    <input type="radio" id="haunting house" name="haunting house" value="haunting house">
    <label for="haunting house">Haunting houses</label><br><br>
    <label for="date">Event date:</label><br>
    <input type="date" id="date" name="date"><br><br>
    <label for="fname">First name:</label><br>
    <input type="text" id="fname" name="fname"><br>
    <label for="lname">Last name:</label><br>
    <input type="text" id="lname" name="lname"><br><br>
    <label>Event Description</label><br>
    <textarea id="Ghostly or supernatural event description" name="w3review" rows="10" cols="70">
<Here can you write whatever you want>
                </textarea><br>
    <button type="submit">Submit</button>
</form>
<br>
<footer class="contact-footer">
    <ul>
        <p><li>Jesper og Roberts OogieBoogie Servic </li><li>+45 60 61 43 82</li><li>+45 60 82 92 82</li><li><a href="Mailto:along_the_black_river@hotmail.com">along_the_black_river@hotmail.com</a></li>
        </p>
    </ul>
</footer>

</body>

</html>



