<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="Viewport" content="width=device-width, initial-scale-1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <link rel="stylesheet" href="Styles/styles.css" >
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap" rel="stylesheet">  <!-- Google font-family: 'Cormorant Garamond', serif; in css -->

    <style></style>

    <title>MainPageJesperS</title>
</head>

<body id="Home" >

<div class="Site">
    <header>
        <nav>
            <ul>
                <a href="index.html">Home</a>
                <a href="portfolio.html">Portfolio</a>
                <a href="https://github.com/JesperStroebaek.git">GitHub Repo</a>
                <a href="ghostform.html">GB Service</a>
            </ul>
        </nav>
        <hr>
    </header>

    <main>
        <h1>Jesper Strøbæk</h1>
        <h2>Welcome</h2>
        <p class="inset">Java Development Student. <small>- ☺ - exp.grad.Feb.2023</small></p>
    </main>

    <aside>
        <h2>
            aside
        </h2>
        <p>text der sidder i aside delen</p>
    </aside>

    <footer>
        <hr>
        <header>
            <nav>
                <ul>
                    <a href="index.html">-Home-</a>
                    <a href="portfolio.html">-Portfolio-</a>
                    <a href="https://github.com/JesperStroebaek.git">-GitHub Repo-</a>
                    <a href="ghostform.html">-GB Service-</a>
                </ul>
            </nav>
        </header>
        <hr>
        <div class="footer">
            <p> Jesper☺Stroebaek - Java Developer Student @ KEA - Copenhagen. Denmark. DK.</p>
        </div>
    </footer>
    <footer class="fod">

    </footer>
</div>

</body>
</html>