<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JespersMain</title>
    <meta stylesheet="main.css">
</head>
<header style="link: main">
    <h1>
        Jesper Strøbæk.. KEA - DAT20B
    </h1>
    <nav>
        <p>
            <a href="http://localhost:8080/ghostform">-        -GhostBustingService-     -</a>
            <a href="mailto:hamdererindeibatman@gmail.com">-     -Mail-     -</a>
            <a href="http://localhost:8080/portfolio">-      -Portfolio-         -</a>

        </p>
    </nav>
</header>
<body>
<main>
    <section id="main-top">
      <!-- Hvis det lader sig gøre skal her indsættes et godt pic <img src="">
    -->
    <h2>
        Kort og godt...
    </h2>
        <p>Welcome to my first HTML project</p>
        <p>If you have any Q's or comments, feel free to ask via one of the suplied links.</p>
    </section>
    <section id="mainbuttom">
        <!-- indsæt pic -->
    </section>
</main>
<footer>
    <p>
        ☺ All rights to this homepage and all of its content belong to Jesper ☺ Stroebaek - Copenhagen, Denmark (DK) ☺
    </p>
</footer>
</body>
</html>