<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="Styles/styles.css">
    <meta charset="UTF-8">
    <title>mainPage</title>

</head>
<header style="link: main">
    <h1>
        Robert Witt Hansen & Jesper Strøbæk..
    </h1>
    <nav>
        <p style="link: main">
            <a href="ghostform.html">-        -GhostBustingService-     -</a>
            <a href="mailto:hamdererindeibatman@gmail.com">-     -Mail-     -</a>
            <a href="portfolio.html">-      -Portfolio-         -</a>

        </p>
    </nav>
    <img src="../1sp logo.jpg"/>
</header>
<body>

</body>
</html>